/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

/* COLORS */
header {
  background-color: #FFDBAA;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.company-name {
  color: #553100;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation ul li {
  display: inline;
  margin-right: 10px;
}

.navigation ul li a {
  display: inline-block;
  padding: 10px;
  background-color: #805215;
  color: #fff;
  text-decoration: none;
  border-radius: 0;
  width: 120px;
  text-align: center;
}

.divider {
  border: none;
  border-top: 2px solid #000;
  margin: 0;
}

main {
  background-color: #D4A76A;
  padding: 20px;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
}

.box {
  flex: 0 0 calc(30% - 20px);
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.box-header {
  margin-top: 0;
}

.box-text {
  margin-bottom: 20px;
}

.box-button {
  display: inline-block;
  padding: 10px;
  background-color: #805215;
  color: #fff;
  text-decoration: none;
  border-radius: 0;
  width: 200px;
  text-align: center;
  border: 1px solid #000;
}

.box-wide {
  flex-basis: 100%;
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.wide-box-button {
  display: flex;
  justify-content: center;
}

.box-button-wide {
  display: inline-block;
  padding: 10px;
  background-color: #805215;
  color: #fff;
  text-decoration: none;
  border-radius: 0;
  width: 90%;
  text-align: center;
  border: 1px solid #000;
}
